$large-monitor: 2506px;
$intermediate-laptop-size: 1222px;
$tablet-size: 901px;
$mobile-size: 559px;
$small-mobile-size: 375px;

input {
    background-color: #1f2227;
}

.body {
    flex: 1 1 auto;
    height: 90%;
    font-family: "Varela Round", sans-serif;
    padding: 50px 30px 0px 30px;
    color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
    background-color: #1f2227;
}

h1 {
    cursor: alias;
}

/* Registers Start*/

.registers-container {
    flex: 1;
    width: 100%;

    table {
        table-layout: fixed;
    }

    td {
        width: 50%;
    }

    .register-value {
        text-align: center;
    }

    .primary-registers {
        margin-top: 20px;
        width: 100%;
        cursor: alias;
    }

    .flag-registers {
        margin-top: 40px;
        width: 80%;
        cursor: alias;
    }

    .number-converter {
        margin-top: 40px;
        width: 70%;

        .register-label {
            cursor: alias;
        }

        input {
            border: none;
            border-bottom: 2px solid rgba(58, 89, 152, 0.5);
            display: inline;
            font-family: inherit;
            font-size: inherit;
            text-align: center;
            color: #fff;
            padding: 3px;
            width: 90%;
        }

        input:hover {
            border-bottom: 2px solid rgba(0, 0, 255, 1);
        }
    }
}

/* Registers End */

/* Editor Start */

.editor-container {
    flex: 2;
    width: 100%;
    height: 600px;
    margin-right: 30px;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        i {
            margin-right: 50px;
            font-size: 1.2rem;
            cursor: pointer;
        }

        i:hover {
            transform: scale(1.2, 1.2);
            transition: transform 0.1s ease-in-out 0s;
            color: rgba(0, 0, 255, 1);
        }
    }

    .editor-child {
        height: 520px;
        margin-top: 20px;
    }

    .margin-view-overlays {
        width: 20px;
    }
}

/* Editor End */

/* Assembled Start */

.assembled-container {
    flex: 2;
    width: 100%;
    height: 750px;
    margin-right: 30px;
    overflow: hidden;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        i {
            margin-right: 50px;
            font-size: 1.2rem;
            cursor: pointer;
        }

        i:hover {
            transform: scale(1.2, 1.2);
            transition: transform 0.1s ease-in-out 0s;
            color: rgba(0, 0, 255, 1);
        }
    }

    .assembled-child {
        margin-top: 20px;
        width: 100%;
        height: 520px;
        padding-right: 15px;
        box-sizing: content-box;
        overflow-y: scroll;

        .assembled-table {
            display: flex;
            flex-direction: column;
            align-items: center;

            .assembled-row {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-right: 1px solid rgba(255, 255, 255, 0.5);
                border-left: 1px solid rgba(255, 255, 255, 0.5);

                .assembled-labels {
                    flex: 1;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-right: 1px solid rgba(255, 255, 255, 0.5);
                    border-top: 1px solid rgba(255, 255, 255, 0.5);
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                }

                .assembled-instructions {
                    height: 30px;
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-top: 1px solid rgba(255, 255, 255, 0.5);
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                }
            }

            .coloured {
                background-color: #30353d;
            }
        }
    }

    .assembled-navigation {
        margin-top: 20px;
        font-size: 1.2rem;
        width: 100%;

        display: flex;
        justify-content: space-around;
        align-items: center;

        .navigation-button {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 10px 20px 10px 20px;
            border: 2px solid rgba(58, 89, 152, 0.5);
            border-radius: 10px;
        }

        .navigation-button:hover {
            border: 2px solid rgba(0, 0, 255, 1);
        }

        .disabled.navigation-button,
        .disabled.navigation-button:hover {
            border: 2px solid rgba(136, 136, 136, 0.5);

            i {
                color: #888;
            }
        }
    }
}

/* Assembled End */

/* Memory Start */

.memory-container {
    flex: 2;
    width: 100%;
    height: 600px;

    .header {
        display: flex;
        justify-content: space-between;

        padding-right: 10px;

        .header-tail {
            display: flex;
            align-items: center;

            i {
                margin-right: 20px;
                cursor: pointer;
            }
            i:hover {
                transform: rotate(360deg);
                transition: transform 1s ease-in-out 0s;
            }
        }

        input {
            border: none;
            border-bottom: 2px solid rgba(58, 89, 152, 0.5);
            display: inline;
            font-family: inherit;
            font-size: inherit;
            color: #fff;
            padding: none;
            text-align: end;
            width: 65px;
        }

        input:hover {
            border-bottom: 2px solid rgba(0, 0, 255, 1);
        }
    }

    .entire-memory-view {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 90%;
        align-items: center;
        justify-content: space-evenly;

        .grid {
            font-size: 0.8rem;
            margin-top: 20px;
            height: 80%;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(17, auto);
            cursor: alias;

            .grid-bold {
                font-weight: bold;
            }

            .grid-element {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .navigation {
            padding: 20px 20px 0px 20px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;

            i {
                cursor: pointer;
            }

            i:hover {
                transform: scale(1.2, 1.2);
                transition: transform 0.1s ease-in-out 0s;
                color: rgba(0, 0, 255, 1);
            }

            .disabled {
                color: #888;
            }
        }
    }

    .loaded-memory-view {
        width: 100%;
        height: 90%;
    }

    .memory-views {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;

        input {
            margin-right: 10px;
            cursor: pointer;
        }
    }
}

/* Memory End */

@media (max-width: $intermediate-laptop-size) {
    .registers-container {
        flex: 1;
    }

    .editor-container {
        flex: 2;
        margin-right: 10px;
    }

    .memory-container {
        flex: 2;
    }
}

@media (max-width: $tablet-size) {
    .body {
        flex-wrap: wrap;
        overflow: scroll;
    }

    .registers-container {
        flex: 1;
        order: 2;
    }

    .editor-container {
        flex: 2;
        order: 1;
        flex-basis: 100%;
        margin-bottom: 10px;
    }

    .assembled-container {
        margin-right: 0px;
        flex: 2;
        order: 1;
        flex-basis: 100%;
        margin-bottom: 10px;
    }

    .memory-container {
        flex: 2;
        order: 3;
        margin-bottom: 50px;
    }
}

@media (max-width: $mobile-size) {
    .registers-container {
        flex-basis: 100%;
        margin-bottom: 100px;
        flex: 1;

        .primary-registers {
            .register-value {
                text-align: right;
            }
        }

        .flag-registers {
            width: 100%;
        }

        .number-converter {
            width: 100%;
        }
    }

    .memory-container {
        flex: 1;
        margin-bottom: 50px;
    }
}

@media (max-width: $small-mobile-size) {
    .body {
        padding: 50px 10px 0 10px;
    }
}

@media (min-width: $large-monitor) {
    h1 {
        font-size: 5rem;
    }

    .registers-container {
        font-size: 1.8rem;
    }

    .editor-container {
        height: 1100px;

        .editor-child {
            height: 900px;
            font-size: 5rem;
        }
    }

    .assembled-container {
        height: 1100px;

        .assembled-child {
            height: 900px;
            font-size: 2rem;

            .assembled-table {
                .assembled-row {
                    .assembled-labels {
                        height: 50px;
                    }
                    .assembled-instructions {
                        height: 50px;
                    }
                }
            }
        }
    }

    .memory-container {
        height: 1100px;

        .header {
            input {
                font-size: 2rem;
                width: 150px;
            }
        }

        .entire-memory-view {
            .grid {
                font-size: 1.5rem;
            }

            .navigation {
                font-size: 1.5rem;
            }
        }

        .memory-views {
            font-size: 2rem;
        }
    }
}
