.body {
    flex: 1 1 auto;
    height: 90%;
    font-family: "Varela Round", sans-serif;
    padding: 50px 30px 0px 30px;
    color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
}

/* Registers Start*/

.registers-container {
    flex: 1;
    width: 100%;

    table {
        table-layout: fixed;
    }

    td {
        width: 50%;
    }

    .register-value {
        text-align: center;
    }

    .primary-registers {
        margin-top: 20px;
        width: 100%;
    }

    .flag-registers {
        margin-top: 40px;
        width: 80%;
    }

    .number-converter {
        margin-top: 40px;
        width: 70%;

        input {
            border: none;
            border-bottom: 2px solid #888;
            display: inline;
            font-family: inherit;
            font-size: inherit;
            text-align: center;
            color: #fff;
            padding: 3px;
            width: 90%;
        }
    }
}

/* Registers End */

/* Editor Start */

.editor-container {
    flex: 2;
    width: 100%;
    height: 600px;
    margin-right: 30px;

    .editor-child {
        height: 100%;
        margin-top: 20px;
    }

    .margin-view-overlays {
        width: 20px;
    }
}

/* Editor End */

/* Memory Start */

.memory-container {
    flex: 2;
    width: 100%;
    height: 600px;

    .header {
        display: flex;
        justify-content: space-between;

        padding-right: 10px;

        .header-tail {
            display: flex;
            align-items: center;

            i {
                margin-right: 20px;
                cursor: pointer;
            }
        }

        input {
            border: none;
            border-bottom: 2px solid #888;
            display: inline;
            font-family: inherit;
            font-size: inherit;
            color: #fff;
            padding: none;
            text-align: end;
            width: 65px;
        }
    }

    .entire-memory-view {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 90%;
        align-items: center;
        justify-content: space-evenly;

        .grid {
            font-size: 0.8rem;
            margin-top: 20px;
            height: 80%;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(17, auto);

            .grid-bold {
                font-weight: bold;
            }

            .grid-element {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .navigation {
            padding: 20px 20px 0px 20px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;

            i {
                cursor: pointer;
            }

            .disabled {
                color: #888;
            }
        }
    }

    .loaded-memory-view {
        width: 100%;
        height: 90%;
    }

    .memory-views {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;

        input {
            margin-right: 10px;
            cursor: pointer;
        }
    }
}

/* Memory End */
