/* Utility Classes */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #1f2227;
    /* background-color: #fff; */
}

*:focus {
    outline: none;
}

ul {
    list-style: none;
}

input:focus {
    outline: none;
}

/* Utility Ends */

.navbar {
    flex: 0 1 auto;
    font-family: "Varela Round", sans-serif;
    color: #fff;
    border-radius: 5px;
    padding: 10px;

    .navbar-items {
        display: flex;
        justify-content: space-between;
    }

    .navbar-head {
        display: flex;
        align-items: center;
        margin-right: 10px;

        input {
            border: none;
            display: inline;
            font-family: inherit;
            font-size: inherit;
            color: #fff;
            padding: none;
        }

        img {
            height: 75%;
        }
    }

    .navbar-tail {
        display: flex;
        align-items: center;
        margin-right: 10px;

        .navbar-item {
            margin-right: 20px;
        }

        i {
            margin-right: 10px;
        }
    }
}

.projectName {
    font-size: 1.3rem;

    i {
        margin-left: 6px;
        font-size: 0.9rem;
        transform: translateY(-2px);
    }
}

.projectAuthor {
    font-size: 0.9rem;
}

.logo-container {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
