$small-mobile-size: 426px;
$large-monitor-size: 2560px;

.navbar {
    flex: 0 1 auto;
    color: #fff;
    padding: 10px;
    background-color: #1f2227;
    border-bottom: 1px dotted hsla(0, 0%, 100%, 0.2);

    .navbar-items {
        display: flex;
        justify-content: space-between;
    }

    .navbar-head {
        display: flex;
        align-items: center;
        margin-right: 10px;

        input {
            border: none;
            display: inline;
            font-family: inherit;
            font-size: inherit;
            color: #fff;
            padding: none;
        }

        i {
            z-index: -1;
        }

        img {
            height: 75%;
        }
    }

    .navbar-tail {
        display: flex;
        align-items: center;
        margin-right: 10px;

        .navbar-item {
            padding-bottom: 5px;
            margin-right: 20px;
            cursor: pointer;
        }

        i {
            margin-right: 10px;
        }

        .navbar-item:hover {
            border-bottom: 2px solid blue;

            i {
                color: rgba(0, 0, 255, 1);
            }
        }
    }

    .hamburger-container {
        display: none;
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 1.5rem;
    }
}

.projectName {
    font-size: 1.3rem;

    i {
        margin-left: 6px;
        font-size: 0.9rem;
        transform: translateY(-2px);
    }

    i:hover {
        color: rgba(0, 0, 255, 1);
    }
}

.projectAuthor {
    font-size: 0.9rem;
    cursor: alias;
}

.logo-container {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: $small-mobile-size) {
    .projectName {
        font-size: 1rem;

        i {
            display: none;
        }
    }

    .navbar {
        .navbar-tail {
            z-index: 3;
            position: absolute;
            flex-direction: column;
            align-items: inherit;
            background-color: #1f2227;
            border-right: 1px solid #fff;
            width: 50vw;
            height: 100%;
            transform: translateY(-10px);
            transform: translateX(-500px);
            padding-top: 40px;
            transition: transform 0.2s ease-out;

            .navbar-item {
                font-size: 1.1rem;
                margin-top: 30px;
                margin-left: 10px;
            }

            i {
                margin-right: 20px;
            }
        }

        .navbar-tail.show {
            transform: translateX(0px);
        }

        .hamburger-container {
            display: block;
        }
    }
}

@media (min-width: $large-monitor-size) {
    .projectName {
        font-size: 1.5rem;
    }

    .projectAuthor {
        font-size: 1.1rem;
    }

    .navbar {
        .navbar-tail {
            font-size: 1.5rem;
        }
    }
}
